.landpage{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../../../img/store/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}