@font-face {
    font-family: 'koodak';
    src: url('../../../fonts/KoodakBold.eot?#')format('eot'),
    url('../../../fonts/KoodakBold.ttf')format('truetype'),
    url('../../../fonts/KoodakBold.woff')format('woff')
}
@font-face {
    font-family: 'yekan';
    src: url('../../../fonts/Yekan.eot?#')format('eot'),
    url('../../../fonts/Yekan.ttf')format('truetype'),
    url('../../../fonts/Yekan.woff')format('woff')
}
@font-face {
    font-family: 'nazanin';
    src: url('../../../fonts/Nazanin.eot')format('eot'),
    url('../../../fonts/Nazanin.ttf')format('truetype'),
    url('../../../fonts/Nazanin.woff')format('woff')
}
@font-face {
    font-family: 'gandom';
    src: url('../../../fonts/Gandom.eot')format('eot'),
    url('../../../fonts/Gandom.ttf')format('truetype'),
    url('../../../fonts/Gandom.woff')format('woff')
}